{
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "auto",
  "singleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles/style.css"
}