@import "tailwindcss";

@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sf-pro-text: "SFProText", system-ui, sans-serif;
  --font-sf-pro-display: "SFProDisplay", system-ui, sans-serif;

  --color-bg-primary: #fefefe;
  --color-bg-secondary: #ffffff;

  --color-text-primary: #1d2023;
  --color-text-secondary: #626c77;

  --color-white: #ffffff;
  --color-white-100: #fefefe;

  --color-black: #000000;

  --color-gray-100: #d9d9d9;
  --color-gray-200: #f2f3f7;
  --color-gray-300: #bcc3d0;
  --color-gray-400: #bcc3d080;
  --color-gray-500: #969fa8;

  --color-red-100: #e0231c;

  --color-blue-100: #ecf2ff;
  --color-blue-200: #0066ff;
  --color-blue-300: #007cff;

  --shadow-100: 0px 4px 40px 0px #00000014;
  --shadow-200: 0px 0px 18px 0px #0000000a, 0px 4px 16px 0px #0000000a;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-family: "SFProDisplay", system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.mobile-body {
  overflow: hidden;
  height: 100vh;
}

.mobile-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile-content {
  height: calc(100% + 1px);
}

.custom-container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

/* Onboarding slider */
#onboarding-slider .swiper-wrapper {
  width: fit-content !important;
}

#onboarding-slider .swiper-pagination {
  bottom: calc((100% - 460px - 8vh)/2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#onboarding-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0;
  background-color: #1d2023;
  opacity: 0.4;
}

#onboarding-slider .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  opacity: 1;
}

.page-with-button {
  height: calc(100% - 80px);
}

.page-without-button {
  height: 100%;
}

.mobile-padding {
  padding-top: 10vh;
}

.balance-block {
  background-image: url("./assets/images/bg-balance-block.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

/* QR Scanner */
.cutout {
  width: 260px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 9999px rgba(26, 33, 35, 0.9);
}

.scan-region-highlight-svg {
  display: none !important;
}

.code-outline-highlight {
  stroke-width: 3 !important;
  stroke: #cdf599 !important;
}

/* Withdraw enter amount */
.number-input-group {
  position: relative;
  display: inline-block;
  height: 47.1px;
  background-color: transparent;

  & input {
    max-width: calc(100vw - 150px);
    outline: none;
    box-sizing: border-box;
    font-family: "SFProDisplay", system-ui, sans-serif;
    font-variant-numeric: tabular-nums;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    background-color: transparent;

    &::placeholder {
      color: var(--placeholder-color);
    }
    &::-webkit-input-placeholder {
      color: var(--placeholder-color);
    }
    &::-moz-placeholder {
      color: var(--placeholder-color);
    }
    &:-ms-input-placeholder {
      color: var(--placeholder-color);
    }
    &:-moz-placeholder {
      color: var(--placeholder-color);
    }
  }

  & > span {
    max-width: calc(100vw - 150px);
    position: absolute;
    min-width: 30px;
    visibility: hidden;
    white-space: pre;
    font-variant-numeric: tabular-nums;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    font-family: "SFProDisplay", system-ui, sans-serif;
    box-sizing: border-box;
  }
}
